<div class="main-container">
  <div class="heading-font">Login</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="username" name="username" placeholder="Username">
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="password" name="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix class="hover" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field><br>

  <a href="forgotpassword">Forgot Password?</a><br><br>

  <button mat-raised-button color="primary" (click)="login()">Log In</button>
  <button routerLink="/signup" mat-raised-button color="primary">Sign Up</button>
</form>
</div>
