<div class="main-container">
  <div class="text-center page-heading">Crete New Announcements</div>

  <div class="mat-card">
    <div class="container-fluid inner-container ">
      <div class="row">
        <div class="col-sm-3 no-padding">
          <app-announcements-sidebar (receivers)="onReceivers($event)"></app-announcements-sidebar>
        </div>
        <div class="col-sm-9">
          <app-editor-area (editorText)="setEditorText($event)"></app-editor-area>
        </div>

        <button mat-raised-button disabled="{{checkValues()}}" (click)="createAnnouncement()">Create</button>
      </div>
    </div>
  </div>
</div>
