<div class="main-container">
  <div class="text-center page-heading">Crete New Announcements</div>

  <div class="inner-container mat-card">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Saved Charts
                </mat-panel-title>
              </mat-expansion-panel-header>

              <app-announcements-sidebar></app-announcements-sidebar>

            </mat-expansion-panel>
          </mat-accordion>


        </div>
        <div class="col-sm-9">
          <app-editor-area></app-editor-area>
        </div>
      </div>
    </div>
  </div>
</div>
