.type-card {
  max-width: 30%;
}

.name-conatiner{
  padding: 2rem;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.box-container{
  margin: 1rem;
  cursor: pointer;
}

.mat-card-sm-image{
  width: 120px;
  height: 110px;
}

h3{
  padding: .5rem;
}
