<div class="fp-page">
  <div class="fp-box">
    <div class="body">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value, resetPasswordForm.valid)">

        <div class="msg">
          Enter your email address that you used to register. We'll send you an email with your username and a
          link to reset your password.
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">email</i>
          </span>

          <mat-form-field class="form-line">

            <input matInput placeholder="Email" formControlName="emailFormControl">
            <mat-hint></mat-hint>

            <mat-error *ngIf="resetPasswordForm.controls.emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>

          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">RESET MY PASSWORD</button>

      </form>

    </div>
  </div>
</div>
