.fp-page{
  //background-color: #ffffff;
  //padding-left: 0;
  //max-width: 360px;
  //margin: 5% auto;
  //overflow-x: hidden;
}

.fp-box{
  width: 30rem;
  background: white;
  margin: auto;
  margin-top: 8%;
  height: 400px;
  padding: 2%;
}

.fp-box .body{
  font-size: 14px;
  color: #555;
  padding: 20px;
}

.fp-page .fp-box .msg {
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
  //position: relative;
  //display: table;
  //border-collapse: separate;
}

.input-group .input-group-addon {
  border: none;
  background-color: transparent;
  padding-left: 0;
  font-weight: bold;
}

.input-group .input-group-addon .material-icons {
  font-size: 18px;
  color: #555;
}

.input-group .form-line {
  display: inline-block;
  width: 100%;
  //border-bottom: 1px solid #ddd;
  position: relative;
}
