<div class="main-container">

  <div class="heading-font">Create Your Account</div>

  <form novalidate [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value, signupForm.valid)">

    <mat-form-field>
      <input matInput
             formControlName="firstname"
             placeholder="First Name">
      <mat-error *ngIf="signupForm.controls.firstname.invalid">First name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             formControlName="lastname"
             placeholder="Last Name">
      <mat-error *ngIf="signupForm.controls.lastname.invalid">Last name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             formControlName="email"
             placeholder="Email">
      <mat-error *ngIf="signupForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="617-888-0989"
             formControlName="phone">
      <mat-error *ngIf="signupForm.controls.phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Username"
             formControlName="username">
      <mat-error *ngIf="signupForm.controls.username.invalid">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Password"
             [type]="hide ? 'password' : 'text'"
              formControlName="password">
      <mat-icon matSuffix class="hover" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <!--<mat-form-field>
      <input required matInput
             placeholder="Confirm Password"
             [type]="hide ? 'password' : 'text'"
             [(ngModel)]="confirmPassword"
             name="confirmPassword">
      <mat-icon matSuffix class="hover" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field><br><br>-->


    <button mat-raised-button color="primary">Create</button>
  </form>
</div>
