.main-container{
  margin: 7% 30% 0%;
  padding-top: 1.5em;
  text-align: center;
  width: 30em;
  height: 25em;
  background: #FAFAFA;
}

.hover{
  cursor: pointer;
}

.heading-font{
  font-family: Roboto;
  font-size: 30px;
  margin-bottom: 15px;

}

.rightmargin{
  margin-right: 10px;
}
