<div>

  <div>
    <app-file-selector (onFileSelected)="onFileSelected($event)"></app-file-selector>
  </div>

  <form novalidate [formGroup]="lineChartForm" (ngSubmit)="onSubmit(lineChartForm.value, lineChartForm.valid)">

    <mat-form-field *ngIf="showDataFields">
      <mat-select formControlName="xaxis" placeholder="X-Axis Value">
        <mat-option *ngFor="let field of this.fileData.meta.fields" [value]="field">
          {{ field }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="lineChartForm.controls.xaxis.invalid">X-Axis is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showDataFields">
      <mat-select formControlName="yaxis" placeholder="Y-Axis Value">
        <mat-option *ngFor="let field of this.fileData.meta.fields" [value]="field">
          {{ field }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="lineChartForm.controls.yaxis.invalid">Y-Axis is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>

  <img src="{{html}}"/>
</div>
