<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'./createCharts'"
     routerLinkActive #rlac="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rlac.isActive">
    Create Charts
  </a>

  <a mat-tab-link
     [routerLink]="'./createAnnouncements'"
     routerLinkActive #rlaa="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rlaa.isActive">
    Create Announcements
  </a>

  <a mat-tab-link
     class="logout"
     (click)="logout()">
    Logout
  </a>

  <a mat-tab-link
     class="user-profile"
     [routerLink]="['getHistory']"
     routerLinkActive #rlau="routerLinkActive"
     [active]="rlau.isActive">
    <span class="user-name">Hi, {{user.firstName}}</span>
    <mat-icon class="user-icon">person</mat-icon>
  </a>
</nav>


<router-outlet></router-outlet>
