<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'./createCharts'"
     routerLinkActive #rla="routerLinkActive"
     [active]="'/welcome/createCharts'">
    Create Charts
  </a>

  <a mat-tab-link
     [routerLink]="'./createAnnouncements'"
     routerLinkActive #rla="routerLinkActive"
     [active]="'/welcome/createAnnouncements'">
    Create Announcements
  </a>

  <a mat-tab-link
     class="logout"
     (click)="logout()">
    Logout
  </a>

  <a mat-tab-link
     class="user-profile"
     [routerLink]="['getHistory']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    <span class="user-name">Hi, {{user.firstName}}</span>
    <mat-icon class="user-icon">person</mat-icon>
  </a>
</nav>


<router-outlet></router-outlet>
