<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'./createCharts'"
     routerLinkActive #rlac="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rlac.isActive">
    Create Charts
  </a>

  <a mat-tab-link
     [routerLink]="'./createAnnouncements'"
     routerLinkActive #rlaa="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rlaa.isActive">
    Create Announcements
  </a>

  <a mat-button [matMenuTriggerFor]="menu" class="user-profile menuType">Hi, {{user.firstName}}
    <mat-icon class="user-icon margin">person</mat-icon></a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updateForm()">Account Settings</button>
    <button mat-menu-item class="logout"
            (click)="logout()">Logout</button>
  </mat-menu>

  <a mat-tab-link class="credits">Credits Left: {{user.credits}}</a>

</nav>


<router-outlet></router-outlet>
